@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
.glass {
    background: rgba(255, 255, 255, 0.1); /* Warna latar belakang transparan */
    backdrop-filter: blur(10px); /* Efek blur untuk memberikan kesan kaca */
    border-radius: 10px; /* Memberikan sudut yang dibulatkan */
    padding: 20px;
    margin: 20px;
  }
  